<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skcc.board.repository.BoardMapper">
    <select id="selectBoardById" resultType="Board">
        SELECT board.id, board.title, board.content, board.writer_name, board.writer_id, board.created_date, board.category, board.hit FROM board WHERE id = #{id}
    </select>
    <select id="selectAllBoard" resultType="Board">
        SELECT board.id, board.title, board.content,  board.writer_name, board.writer_id,  board.created_date, board.category, board.hit FROM board
    </select>
    <insert id="insertBoard" useGeneratedKeys="true" keyProperty="id" parameterType="Board">
        INSERT INTO board ( title, content, writer_name, writer_id, created_date, category, hit)
        VALUES (#{title}, #{content}, #{writerName},#{writerId}, #{createdDate}, #{category}, #{hit})
    </insert>
    <update id="updateBoard" parameterType="Board">
        UPDATE board set title=#{title}, content=#{content}, category=#{category} where id=#{id}
    </update>
    <select id="selectBoardByCategory" resultType="Board">
        SELECT board.id, board.title, board.content, board.writer_name, board.writer_id, board.created_date, board.category, board.hit
        FROM board where board.category=#{category}
    </select>
    <delete id="deleteBoard">
        DELETE FROM board where id=#{id}
    </delete>
    <update id="increaseHit">
        UPDATE board SET board.hit = board.hit + 1 WHERE id =#{id}
    </update>

</mapper>
